body {
  font-family: "nunito", sans-serif;
  background-color: #f5d9df;
}

.img-sizing {
  margin-bottom: 70px;
}

.content {
  margin-bottom: 70px;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup span {
  color: #ea1c2c;
}
#headingGroup h1 {
  font-weight: 100;
  font-size: 3rem;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}

/* WIP idk why the navbar isn't changing color on scroll, i don't know javascript */
/* .fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.fixed-top.scrolled {
  color: #555;
} */

.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2rem;
}
